<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heiyou.mapper.ExhibitsMapper">
    <insert id="addExhibits" parameterType="Exhibits">
        insert into t_exhibits values (#{number},#{cnName},#{enName},#{cnDesc},#{enDesc})
    </insert>
    <select id="findAll" resultType="Exhibits">
        select *
        from t_exhibits
    </select>

    <select id="selectOrderByNumberCount" parameterType="string" resultType="int">
        select count(number) from t_exhibits where number = #{number}
    </select>

    <select id="selectOrderByNameCount" parameterType="string" resultType="int">
        select count(*) from t_exhibits where cnName = #{cnName}
    </select>

    <delete id="delete" parameterType="string" >
        delete from t_exhibits where number = #{number}
    </delete>

    <select id="findById" parameterType="string" resultType="Exhibits">
        select * from t_exhibits where number = #{number}
    </select>

    <update id="updateExhibits" parameterType="Exhibits">
        update t_exhibits set cnName=#{cnName},enName=#{enName},cnDesc = #{cnDesc},enDesc=#{enDesc} where number = #{number}
    </update>
</mapper>